<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sprinkler System | Quick Task</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/create-schedule.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
      defer
    ></script>

    <script src="/scripts/quick-task.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Quick Task</h1>

      <div class="add-task">
        <div class="zones">
          <input
            type="checkbox"
            class="btn-check"
            id="zone1"
            name="zone1"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone1">1</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone2"
            name="zone2"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone2">2</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone3"
            name="zone3"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone3">3</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone4"
            name="zone4"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone4">4</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone5"
            name="zone5"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone5">5</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone6"
            name="zone6"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone6">6</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone7"
            name="zone7"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone7">7</label>

          <input
            type="checkbox"
            class="btn-check"
            id="zone8"
            name="zone8"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="zone8">8</label>
        </div>
        <div class="duration">
          <input
            type="number"
            class="form-control task-duration"
            placeholder="Duration (Min)"
          />

    </div>
    <div class="save-wrapper">
      <button class="btn btn-success btn save-btn">Create</button>
    </div>
  </body>
</html>
